body {
    overflow: auto;
    background-color: rgb(94, 122, 122);
}

.top-h {
    color: rgb(12, 21, 21);
    /* font-size: 48px; */
    margin-left: 50px;
    margin-top: 50px;
    /* margin-bottom: 2px; */
    /* font-weight: 700; */
}

.nav {
    display: flex;
    width: 95%;
    justify-content: space-around;
    color: black;
    font-size: 28px;
    font-weight: 600;
    margin-top: 30px;
    align-items: center;

}

a {
    text-decoration: none;
    background:
        linear-gradient(to right,
            rgba(100, 200, 200, 1),
            rgba(100, 200, 200, 1)),
        linear-gradient(to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1));
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    align-items: center;
}

a:hover {
    background-size: 0 3px, 100% 3px;
}

#dog {
    font-size: 35;
    color: black;
    font-weight: 700;
}

.butt {
    /* float: right; */
    display: flex;
    right: 0%;
    margin-top: 15px;
    margin-right: 30px;
    background-color: black;
    color: white;
    margin-bottom: 20px;
}

.btn {
    padding: 10px;
    border-radius: 22px;
    font-size: 26px;
    margin-left: 20%;
    background-color: rgb(10, 83, 143);
    font-weight: 700;
    border-radius: 14px;
    border: none;
    color: white;
    text-align: center;
    /* padding: 20px; */
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;

}

#output {
    margin: 10px 0px 0px 10px;
}



@media only screen and (min-width: 700px) {

    #output {
        display: flex;
        width: 90%;
        flex-wrap: wrap;
        /* align-items: center; */
        justify-content: space-around;
    }

    #div1 {
        height: 100%;
        width: 40%;
    }

    #div1 #ullist {
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: space-around
        ;
    }

}